<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteCond %{QUERY_STRING} !pt
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule .? - [L]
	RewriteRule ([^/]+)/(.*) index.php?controller=$1&action=$2 [L]
</IfModule>
	#RewriteRule ([^/]+)/(.*) http://stud.if.ktu.lt/~lauver/terminas.lt/index.php?controller=$1&action=$2 [L]
